body {
    background-image: url('../images/fondo.jpg'); /* Usamos '../' para subir un nivel y luego acceder a la carpeta 'images' */
    background-size: cover;

}
    /* En tu hoja de estilo CSS */
.logo {
    width: 95px; /* Ancho deseado */
    height: 40px; /* Altura deseada */
}

.receta{
    width: 200px; /* Ancho deseado */
    height: 155px;
}

.img-thumbnail{
    margin: auto;
    display: block;
}


